/* Main Styles */

html {
    scroll-behavior: smooth;
    --secondary-color: #e2592b;
    /* 
       Pink:                #bd0068
       Logo Lighter Orange: #d75427
       Logo Darker Orange:  #d14627
       Good Orange:         #e2592b
    */
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.grid-container {
    max-width: 82rem;
}

.heading {
    font-family: "Roboto Slab", serif;
    font-size: 35px;
    padding: 2rem 0 1rem 0;
}

.normal-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #141414;
}

.small-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #141414;
    margin-bottom: 8px;
}

.image {
    height: 100%;
    width: 100%;
    display: block;
}

.anchor {
    position: relative;
    top: -120px;
    width: 100vw;
}

/* Header */
.header {
    --header-height: 120px;
    height: var(--header-height);
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    outline: rgba(0, 0, 0, 0.1) solid 1px;
}

.header .nav-container {
    height: var(--header-height);
    display: block;
    width: 100vw;
    background-color: white;
    white-space: nowrap;
}

.header .nav-container .logo-container {
    width: 35vw;
    height: var(--header-height);
    display: inline-block;
    vertical-align: top;
}

.header .logo {
    height: 110px;
    margin-left: 6vw;
    margin-top: 0px;
}

.header .nav-container .button-container {
    width: 65vw;
    height: var(--header-height);
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.mobile-button-container {
    height: 360px;
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 120px;
    background-color: white;
    z-index: 1;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.mobile-button-container .nav-button {
    display: none;
}

.header .nav-container .button-container .nav-button {
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 75px;
    vertical-align: top;
}

.header .nav-container .button-container .nav-button .nav-text {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #141414;
    transition:color 0.3s;
}

.header .nav-container .button-container .nav-button:hover .nav-text {
    color: var(--secondary-color);
}

.header .nav-container .hamburger-container {
    display: none;
}

/* Hero */

.hero-section {
    background-image: linear-gradient(rgba(180, 15, 35,.1),rgba(180, 15, 35,.15)), url("../img/heroBG.jpg");
    background-size: cover;
    background-position: middle;
    background-attachment: fixed;
    background-color: rgb(62, 53, 78);
}

.hero-section .hero-container {
    width: 100vw;
    height: 95vh;
}

.hero-section .hero-container .hero-content {
    width: 90vw;
    max-width: 1500px;
    height: calc(100% - 450px);
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.hero-section .hero-container .hero-content .hero-heading {
    font-family: "Playfair Display", serif;
    color: white;
    line-height: 1;
    font-size: calc(3em + 4vw); /* vw = viewport width */
    margin-right: 50px;
}

.hero-section .hero-container .hero-content .hero-descriptor {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: white;
    font-size: calc(1.5em + 1vw);
    margin-right: 50px;
}

@media screen and (min-width: 1920px) {
    .hero-section .hero-container .hero-content .hero-heading {
        font-size: 8em; /* vw = viewport width */
    }

    .hero-section .hero-container .hero-content .hero-descriptor {
        font-size: 3em;
    }
}

.hero-section .hero-arrow {
    width: 100vw;
    height: 5vh;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 80%);
}

.hero-section .hero-arrow .arrow-asset {
    width: 28px;
    height: 28px;
    opacity: .8;
}

/* Sections */

.section {
    padding: 4rem 0;
}

.section.white {
    background-color: white;
}

.section.off-white {
    background-color: #f7f7f7;
}

.section .image-display {
    height: 35rem;
}

.section .image.small-top {
    padding-bottom: 5px;
    padding-left: 10px;
}

.section .image.small-bottom {
    padding-top: 5px;
    padding-left: 10px;
}

@media only screen and (max-width: 64em) {
    .section .image.small-top {
        display: none;
    }
    
    .section .image.small-bottom {
        display: none;
    }
    .section .image-display {
        height: 100%;
    }
}


.section .map {
    width: 100%;
    height: 300px;
}

.section .socials-container {
    margin-bottom: 10px;
}

.section .socials-container .logo-box {
    height: 60px;
    width: 60px;
    display: inline-block;
    padding: 0;
    margin: 2px;
}

.section .socials-container .logo-container {
    width: 100vw;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.section form .input-style {
    background-color: white;
    border-color: rgba(2,0,12,0.34);
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
}

.section form .input-style.large {
    height: 300px;
}

.section form .input-style.medium {
    height: 125px;
}

.section form .submit-button {
    background-color: #2B88C1;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;

    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 40px;
}

/* Events Calendar */

.upcoming-events {
    margin-bottom: 1rem;
}

.event-item {
    background-color: rgb(255, 255, 255);
    cursor:pointer;
    color: black;
    max-width: 800px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    /* white-space: nowrap; */
    font-size: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    border-left: 6px solid black;
    
}

.event-item .event-info {
    width: auto;
    overflow:hidden;
    margin: 0;
    padding: 0;
}

.event-item .expand-box {
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
}

.event-item .expand-box img  {
    height: 10px;
    display: block;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s ease;
}

.event-item .expand-box img.flipped {
    transform: rotate(180.01deg);
}
.event-item .event-info a {
    color: black;
}

.event-item .event-info .event-name-box {
    font-size: 15px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    max-height: 70px; 
    transition: max-height .5s ease;
    transition-delay: 0;
    overflow: hidden;
}

.event-item .event-info .event-name-box.expanded {
    max-height: 800px;
    transition-delay: 0;
}

.event-item .event-info .event-name {
    height: 45px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;

    text-align: left;
    font-family: "Roboto Slab", serif;
    font-size: 35px;
    text-transform: capitalize;
}

.event-item .event-info .event-description {
    width: 100%;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 15px;
    margin: 0;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 22px;
}

.event-item .event-info .event-description::first-letter {
    text-transform: uppercase;
}

.event-item .event-info .location-header {
    font-family: "Roboto Slab", serif;
    font-size: 25px;
}

.event-item .event-info .event-location {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.event-item .event-info .directions {
    font-family: "Open Sans", sans-serif;
    color:  rgb(6,69,173);
    text-decoration: underline;
    font-size: 20px;
    line-height: 20px;
}

.event-item .event-date-box {
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 135px;
    height: 81px;
    float: right;
    background-color: rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, .6);
    border-bottom: 1px solid black;
}

.event-item .event-date-box .event-day {
    height: 60%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 35px;
}

.event-item .event-date-box .event-month {
    height: 40%;
    width: 100%;
    padding: 0;
    margin: 0;
    
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

/* Form Buttons */

.section .form-button-container {
    display: flex;
    margin: 40px 0;
    justify-content: center;
}

.section .form-button-container.right {
    justify-content: flex-end;
}

.section .form-button-container.left {
    justify-content: flex-start;
}

.section .form-button-container > *:not(:last-child) {
    margin-right: 150px;
}

.section .form-button-container .form-button {
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    min-width: 300px;
    height: 75px;
    padding: 0px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section .form-button-container .form-button.small {
    min-width: 200px;
    height: 50px;
    padding: 0px 30px;
}

.section .form-button-container .form-button .form-button-text {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: white;

    text-align: center;
    line-height: 75px;
    
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.section .form-button-container .form-button.small .form-button-text {
    font-size: 24px;
    line-height: 50px;
    font-family: "Open Sans", serif;
    font-weight: 600;
}

/* Forms */
.section .expanded-form {
    max-height: 0px;
    background-color: rgba(0, 0, 0, 0.05);
    transition: max-height 1s, margin-bottom 1s, padding 1s ease;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.section .expanded-form.expanded {
    max-height: 3650px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Footer */

.footer
{
    height: 70px;
    display: block;
    padding: 16px;
    padding-top: 20px;
    background: linear-gradient(0deg, rgba(44, 44, 44,1) 40%, rgb(35, 35, 35) 100%);
}

.footer .footer-text
{
    margin: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .6px;
    color: #C0C0C0;
    text-align: left;
}


/* Mobile Scaling */

@media only screen and (max-width: 64em) {
    .header .nav-container .button-container {
        display: none;
    }

    .header .nav-container .hamburger-container {
        width: 65vw;
        height: var(--header-height);
        padding: 30px;
        display: inline-block;
        vertical-align: top;
        text-align: right;
    }

    .mobile-button-container {
        height: 245px;
        display: block;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: white;
        z-index: 2;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        visibility: visible;
        transition: visibility 0.1s, opacity 0.1s, height 0.1s linear;
    }
    
    .mobile-button-container .nav-button {
        height: 40px;
        display: block;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .mobile-button-container .nav-button .nav-text {
        margin: 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        padding: 10px 0px;
        color: #141414;
    }

    .mobile-button-container .nav-button:hover {
        background-color: #f8f8f8;
    }

    .mobile-button-container .nav-button:hover .nav-text {
        color: var(--secondary-color);
    }

    .header .nav-container .hamburger-container .hamburger {
        height: 50px;
        margin-right: 4vw;
        margin-top: 5px;
    }

    .section .form-button-container {
        display: block;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: visibility 0.1s, opacity 0.1s, height 0.1s linear;
}

/* End */